.quiz-container {

  .title {
    font-weight: 600;
    font-size  : 23px;
  }

  .add-new {
    legend {
      font-size  : 20px;
      font-weight: 500;
    }

    .label-upload {
      display      : flex;
      align-items  : center;
      gap          : 5px;
      border       : 1px solid #c2c0c0;
      width        : fit-content;
      padding      : 5px 10px;
      border-radius: 8px;
      background   : #eee;
      cursor       : pointer;

      &:hover {
        background: #dcdcdc;
      }
    }

    .img-preview {
      border         : 1px dashed #989797;
      height         : 150px;
      border-radius  : 10px;
      display        : flex;
      justify-content: center;
      align-items    : center;
      color          : #ccc;
      margin-top     : 15px;

      img {
        max-width : 100%;
        max-height: 100%;
      }
    }
  }

  .list-detail {
    padding: 15px;

    .title-table-list-quiz {
      font-weight: 500;
      font-size  : 20px;
    }
  }

}